.tbh {

	&-wrapper {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 100000;
		background-color: #fff;
		padding-top: 40px;
		padding-bottom: 40px;
	}

	&-header,
	&-body,
	&-footer {
		box-sizing: border-box;
		margin: 0 auto;
		max-width: 960px;
		padding: 20px;
	}

	&-footer {
		text-align: right;
	}

	&-link,
	&-close {
		display: inline-block;
		padding: 0.25em 1em;
		border: 1px solid currentColor;
		border-radius: 3px;
	}

	&-close + &-link {
		margin-left: 0.5em;
	}
}

